* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: bisque;
  z-index: 2;
}

#navegacao {
  padding: 10px 20px 20px;
}

#principal {
  margin: 150px 10px 10px;
}

#sobre-mim {
  text-align: center;
}

#aprendizado {
  width: 45%;
  display: inline-block;
  padding: 40px 20px 20px 0;
}

#lado {
  text-align: center;
  width: 45%;
  display: inline-block;
  position: relative;
  bottom: 52px;
}

#licoes {
  text-align: center;
}

.lista {
  width: 45%;
  line-height: 30px;
  display: inline-block;
  list-style: inside;
}

#table {
  text-align: center;
  margin: 0 0 80px;
}

#tabela {
  display: inline-block;
  padding: 20px;
}

#rodape {
  background-color: bisque;
  color: rgb(71, 18, 107);
  margin: 40px 0 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  background-color: rgb(253, 251, 251);
}

#titulo {
  font-family: Lemonada, cursive, sans-serif;
  padding: 10px;
  color: rgb(71, 18, 107);
}

.link-nav {
  font-family: Quicksand, sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 900;
  color: rgb(71, 18, 107);
}

.link-nav:hover {
  background-color: rgb(71, 18, 107);
  color: bisque;
}

#titulo-sobre-mim {
  text-decoration: underline;
}

#minha_foto {
  display: block;
  margin: auto;
  padding: 20px;
  background-color: bisque;
  border-radius: 10%;
  border: 5px solid rgb(71, 18, 107);
}

#licoes_aprendidas , #licoes_a_aprender , p {
  font-family: Quicksand, sans-serif;
}

h3 , h2 {
  padding: 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 900;
  font-size: 25px;
}
